body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(../images/background.png);
}

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    /*background-color: #f1f1f1;*/
    background-image: url(../images/background.png);
}

#content {
    margin-top: 70px;
}

@media screen and (max-width: 767px) {
    #content {
        margin-top: 98px;
    }
}

.v-middle {
    display: table !important;
    height: auto;
}

    .v-middle > * {
        display: table-cell;
        vertical-align: middle;
    }
