.header select {
    height: 30px;
}

.header ul {
    overflow-y: auto;
    margin: 20px 0 20px 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header ul {
        margin: 5px;
    }
}

.header-item a {
    color: #555555;
}

    .header-item a:hover {
        text-decoration: none;
    }

.header-items > .header-item {
    display: inline-block;
    zoom: 1;
    padding: 5px;
}

.header-nav > .header-items {
    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
}

    .header-nav > .header-items > .header-item {
        border: solid;
        border-width: 0 0 0 1px;
        text-align: center;
    }

        .header-nav > .header-items > .header-item:last-child {
            border-right-width: 1px;
        }

.header-settings > ul {
    float: right;
    margin-bottom: 10px;
}

.header-settings .social-link {
    width: 35px;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .header-settings > ul {
        margin-top: 0;
        text-align: center;
    }
}

/* This element is in header */
.project-nav-wrapper {
    text-align: center;
    padding: 20px 0 20px 0;
    height: 10px;
}

#project-nav-btns {
    display: none;
}

@media screen and (max-width: 767px) {
    /* Do not show this in mobile. */
    .project-nav-wrapper {
        display: none;
    }
}